:root {
    --color-principal: #259fac;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #259fac;
}

/*----- Seccion Brand Nav -----  */

.brand-nav {
    background-color: #f8f5f5;
    width: 100%;
    padding: 10px 20px;
}

.brand-nav__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.7rem;
    font-weight: 500px;

}

.brand-nav__logo-name{
    color: #009bd1;
}

.brand-nav__logo {
    height: 100px;
    width: auto;
    object-fit: contain;
}

/* ----- Seccion Formulario ----- */

.form-container {
    display: flex;
    justify-content: center;
    padding: 3rem;
    width: 100%;
    overflow-x: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #eff3f5;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
    padding: 0 0 1rem 0;
    max-width: 1400px;
    min-width: 300px;
    width: 100%;
    
    
}

.form__title-container {
    background-color: #d72b5b;
    width: 100%;
    color: rgb(253, 251, 251);
    padding: 1.5rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form__fieldset {
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.form__legend {
    text-align: center;
    font-size: 1.6rem;
    color: #259fac;
    font-weight: bold;
}

.form__group--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;

}

.form__field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem
}

.form__input {
    margin: 0 1rem 0 0;
    border: 1px solid #dacece;
    border-radius: 5px;
    padding: .3rem;
    outline-color: #009bd1;
}

.form__input:hover {
    border: 1px solid #009bd1
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
}

.input-error {
    border: 1px solid #b40637;
}

.form__label {
    position: relative;
    top: 12px;
}

.form__select {
    margin: 0 1rem 0 0;
    appearance: none;
    padding: .3rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #dacece 
}

.form__select:hover {
    border: 1px solid #009bd1
}

.form__select:focus {
    outline-color: #009bd1;
}

.form__password-camp {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 220px;
    background-color: #d72b5b;
    color: #ebe9e9;
    text-align: left;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 13px;
    line-height: 1.4;
  }
  
.form__password-camp:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

.form__button {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background-color: #d72b5b;
    border-radius: 3px;
    color: #ebe9e9;
    min-width: 15%;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 10px rgba(26, 24, 24, 0.349);
}

/* Media Queries */

@media screen and (max-width: 740px){
    .form__group--grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 540px){
    .brand-nav__content {
        font-size: .9rem;
    }

    .brand-nav__logo {
        height: 80px;
    }

    .form {
        border-radius: 0;
    }

    .form__title-container {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form__group--grid {
        grid-template-columns: 1fr;
    }

    .form-container {
        padding: 0;
    }


}
