.formulario-agregar {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.formulario-agregar h2 {
  color: #259fac;
  text-align: center;
}

#campos-adicionales {
  margin-top: 15px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-agregar {
  margin-top: 15px;
  background-color: #259fac;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.estado.pendiente {
  color: #d67c00;
  font-weight: bold;
}
.estado.hecho {
  color: #2b9348;
  font-weight: bold;
}
.estado.no-registrado {
  color: #999;
  font-weight: bold;
}
.exam-list li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-subir {
  padding: 5px 10px;
  background-color: #259fac;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn-agregar {
  margin-top: 10px;
  background-color: #259fac;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

